<section class="">
  {{#if loggedIn}}
  <h3 class="gallery-name">Welcome {{username}}</h3>
  {{else }}

  <h3 class="gallery-name">Welcome to Sous-Chef where you can browse and save recipes</h3>
  {{/if}}
  {{#if loggedIn}}
  <h3 class="gallery-name">Browse our curated recipe list and save your favorites</h3>
  {{else}}
</section>
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="/images/carousel_1.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/images/carousel_2.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/images/carousel_3.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/images/carousel_4.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/images/carousel_5.png" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/images/carousel_6.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/images/carousel_7.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/images/carousel_8.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/images/carousel_9.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="/images/carousel_10.png" class="d-block w-100" alt="..." />
    </div>
  </div>
</div>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
{{/if}}

{{#if loggedIn}}
<div class="container">
  <div class="row">
    {{#each recipes as |recipe|}}
    {{> recipe-details}}
    {{/each}}
  </div>
</div>
<script src="js/savebutton.js"></script>
{{/if}}

{{#unless loggedIn}}

<body>
  <div id="login-container" class="cotn_principal">
    <div class="cont_centrar">

      <div class="cont_login">
        <div class="cont_info_log_sign_up">
          <!-- LOGIN -->
          <div class="col_md_login">
            <div class="cont_ba_opcitiy">

              <h2>LOGIN</h2>
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
              <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
            </div>
          </div>
          <!-- SIGNUP -->
          <div class="col_md_sign_up">
            <div class="cont_ba_opcitiy">
              <h2>SIGN UP</h2>

              <p>Lorem ipsum dolor sit amet, consectetur.</p>

              <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
            </div>
          </div>
        </div>

        <div class="cont_back_info">
          <div class="cont_img_back_grey">
            <img
              src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?dpr=1&auto=compress,format&fit=crop&w=1199&h=812&q=80&cs=tinysrgb&crop="
              alt="" />
          </div>

        </div>
        {{!-- animated login and sign up after click --}}
        <div class="cont_forms">
          <div class="cont_img_back_">
            <img
              src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?dpr=1&auto=compress,format&fit=crop&w=1199&h=812&q=80&cs=tinysrgb&crop="
              alt="" />
          </div>
          <div class="cont_form_login">
            <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
            <h2>LOGIN</h2>
            <input id="login-email" type="text" placeholder="Email" />
            <input id="login-password" type="password" placeholder="Password" />
            <button class="btn_login" id='login-btn' onclick="cambiar_login()">LOGIN</button>
          </div>

          <div class="cont_form_sign_up">
            <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
            <h2>SIGN UP</h2>
            <input type="text" id="email-signup" placeholder="Email" />
            <input type="text" id='username-signup' placeholder="User" />
            <input type="password" id='password-signup' placeholder="Password" />
            <input type="password" placeholder="Confirm Password" />
            <button class="btn_sign_up" id="signup-btn" onclick="cambiar_sign_up()">SIGN UP</button>

          </div>

        </div>

      </div>
    </div>
  </div>
  <script src="./js/homepage.js"></script>
  <script src="./js/login.js"></script>

</body>
{{/unless}}