body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: #9ed2dc;
}

#wrapper {
  justify-content: center;
  flex-direction: column;
  background-color: #9ed2dc;
  background: linear-gradient(180deg, #cbe6ec, #fad5a8, #c7e4af, #cbe6ec);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 50s ease-in-out infinite;
  -moz-animation: AnimationName 50s ease-in-out infinite;
  animation: AnimationName 50s ease-in-out infinite;
  display: flex;
  width: 100%;
  height: 100%;
  background: cover;
}

.carousel-item {
  min-height: 500px;
  max-height: 500px;
  min-width: 100%;
}
.carousel-item img {
  min-height: 500px;
  max-height: 500px;
  min-width: 100%;
}

header {
  padding: 20px 5px 10px 5px;
  text-align: center;
  background: #9ed2dc;
  color: white;
  width: 100%;
  background: linear-gradient(180deg, #c7e4af, #fad5a8, #cbe6ec, #c7e4af);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 50s ease-in-out infinite;
  -moz-animation: AnimationName 50s ease-in-out infinite;
  animation: AnimationName 50s ease-in-out infinite;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: #9ed2dc;
  padding: 80px;
  text-align: left;
  color: #cbe6ec;
}

nav {
  background-color: rgba(253, 253, 250, 0.5);
  width: 100%;
}
nav a,
nav span {
  color: #2b6b78;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: bottom;
  padding: 4px;
  font-family: "Caveat", cursive;
  font-size: 25px;
  margin-bottom: 14px;
}

header:hover,
nav a:hover,
h2:hover,
a:hover,
i:hover {
  color: #9ed2dc;
}

.gallery {
  flex: 4;
  background-color: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.painting {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card::-webkit-scrollbar {
  background-color: rgba(253, 253, 250, 0.5);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card::-webkit-scrollbar-thumb {
  background-color: #cbe6ec;
  border-radius: 10px;
}

.card {
  margin: 25px;
  flex: 0 1 300px;
  border: 3px solid #2b6b78;
  border-radius: 10px;
  background-color: rgba(253, 253, 250, 0.5);
  color: #2b6b78;
  box-shadow: 8px 8px 15px #585858;
  min-width: 33rem;
  overflow: auto;
  max-height: 505px;
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid #2b6b78;
  border-radius: #2b6b78;
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: #cbe6ec;
}

.card header {
  color: #cbe6ec;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: #9ed2dc;
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.gallery-name {
  font-size: 50px;
  font-family: "Caveat", cursive;
  color: #38571e;
  padding: 10px;
  font-weight: 600;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

#banner-title {
  font-family: "Cedarville Cursive", cursive;
  font-size: 95px;
  font-weight: 500;
  -webkit-text-stroke: 2px #2b6b78;
  color: rgba(253, 253, 250, 0.5);
}

section h3 {
  font-family: "Caveat", cursive;
  font-size: 36px;
}
section p > strong {
  font-family: "Caveat", cursive;
  font-size: 28px;
}

.row {
  justify-content: center;
}

.image-container {
  position: relative;
  width: 100%;
}
.image-container img {
  width: 100%;
  height: 325px;
  min-width: 400px;
  min-height: 300px;
}
.image-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(45%, -430%);
  -ms-transform: translate(45%, -430%);
  background-color: rgba(253, 253, 250, 0.5);
  color: #2b6b78;
  font-size: 16px;
  padding: 8px 15px;
  border: 1px solid #2b6b78;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #9b9b9b;
}
.image-container button:hover {
  background-color: #E6DBAB;
}

.deleteButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(57%, 236%);
  -ms-transform: translate(57%, 236%);
  background-color: rgba(253, 253, 250, 0.5);
  color: #f29321;
  font-size: 16px;
  padding: 8px 15px;
  border: 1px solid #f29321;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #9b9b9b;
}

.deleteButton:hover {
  background-color: #E6DBAB;
}

#login-container {
  background-color: rgba(158, 210, 220, 0.3);
  height: 500px;
  margin-top: 41px;
  margin-bottom: 100px;
}

/* login codepen ----------------------------*/
* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.cotn_principal {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfd8dc+0,607d8b+100,b0bec5+100 */
  /* background: none; */
  /* Old browsers */
}

.cont_centrar {
  position: relative;
  float: left;
  width: 100%;
}

.cont_login {
  position: relative;
  width: 640px;
  left: 50%;
  margin-left: -320px;
}

.cont_back_info {
  position: relative;
  float: left;
  width: 640px;
  height: 280px;
  overflow: hidden;
  background-color: #fff;
  margin-top: 100px;
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.cont_forms {
  position: absolute;
  overflow: hidden;
  top: 100px;
  left: 0px;
  width: 320px;
  height: 280px;
  background-color: #eee;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_login {
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
  height: 420px;
  top: 20px;
  left: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
}

.cont_forms_active_sign_up {
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
  height: 420px;
  top: 20px;
  left: 320px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 10px;
}

.cont_img_back_grey {
  position: absolute;
  width: 950px;
  top: -80px;
  left: -116px;
}

.cont_img_back_grey > img {
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
  animation-name: animar_fondo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cont_img_back_ {
  position: absolute;
  width: 950px;
  top: -80px;
  left: -116px;
}

.cont_img_back_ > img {
  width: 100%;
  opacity: 0.3;
  animation-name: animar_fondo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.cont_forms_active_login > .cont_img_back_ {
  top: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_sign_up > .cont_img_back_ {
  top: 0px;
  left: -435px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_info_log_sign_up {
  position: absolute;
  width: 640px;
  height: 280px;
  top: 100px;
  z-index: 1;
  border-radius: 10px;
}

.col_md_login {
  position: relative;
  float: left;
  width: 50%;
}

.col_md_login > h2 {
  font-weight: 400;
  margin-top: 70px;
  color: #757575;
}

.col_md_login > p {
  font-weight: 400;
  margin-top: 15px;
  width: 80%;
  color: #37474F;
}

.btn_login {
  background-color: #5f9433;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.col_md_sign_up {
  position: relative;
  float: left;
  width: 50%;
}

.cont_ba_opcitiy > h2 {
  font-weight: 400;
  color: #fff;
  font-family: "Caveat", cursive;
}

.cont_ba_opcitiy > p {
  font-weight: 400;
  margin-top: 15px;
  color: #2b6b78;
}

/* ----------------------------------
  background text    
  ------------------------------------
   */
.cont_ba_opcitiy {
  position: relative;
  background-color: rgba(187, 168, 170, 0.79);
  width: 80%;
  border-radius: 3px;
  margin-top: 60px;
  padding: 15px 0px;
  border-radius: 10px;
}

.btn_sign_up {
  background-color: #2b6b78;
  border: none;
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.cont_forms_active_sign_up {
  z-index: 2;
}

@-webkit-keyframes identifier {
  from {
    -webkit-transform: scale(1) translate(0px);
    -moz-transform: scale(1) translate(0px);
    -ms-transform: scale(1) translate(0px);
    -o-transform: scale(1) translate(0px);
    transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.5) translate(50px);
    -moz-transform: scale(1.5) translate(50px);
    -ms-transform: scale(1.5) translate(50px);
    -o-transform: scale(1.5) translate(50px);
    transform: scale(1.5) translate(50px);
  }
}
@-o-keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@-moz-keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes identifier {
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.cont_form_login {
  position: absolute;
  opacity: 0;
  display: none;
  width: 320px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_forms_active_login {
  z-index: 2;
}

/* .cont_forms_active_login>.cont_form_login {} */
.cont_form_sign_up {
  position: absolute;
  width: 320px;
  float: left;
  opacity: 0;
  display: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.cont_form_sign_up > input {
  text-align: left;
  padding: 15px 5px;
  margin-left: 10px;
  margin-top: 20px;
  width: 260px;
  border: none;
  color: #757575;
}

.cont_form_sign_up > h2 {
  margin-top: 50px;
  font-weight: 400;
  color: #757575;
  font-family: "Caveat", cursive;
}

.cont_form_login > input {
  padding: 15px 5px;
  margin-left: 10px;
  margin-top: 20px;
  width: 260px;
  border: none;
  text-align: left;
  color: #757575;
}

.cont_form_login > h2 {
  margin-top: 110px;
  font-weight: 400;
  color: #757575;
}

.cont_form_login > a,
.cont_form_sign_up > a {
  color: #757575;
  position: relative;
  float: left;
  margin: 10px;
  margin-left: 30px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

/*# sourceMappingURL=style.css.map */
